# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List of popular languages that Data Scientists use
- List of commonly used libraries used by Data Scientists
- Table of Data Science Tools
- Example of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Java
2. C++
3. Python

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib
6. Keras
7. SciKit-Learn
8. PyTorch

|Data Science Tools|
|--|
|R|
|Githubs|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [4]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Kelvin Cheung